body {
   background-color: whitesmoke; 
}

* {
    color: black;
    border:2px solid thistle;

}

h1 {
    font-size: 40px;
}

img {
    border: 3px solid white;
    border-radius: 50px
}

.icon p {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-around;
}

.body {
    background-color: #808080;
}

.site-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;

}
